/* DIT IS DE OUDE DUS KIJK NAAR TEST */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    text-align: center;
    background-color: beige;
    padding: 0px;
    margin: 0px;
    height: 20px; 
    width: 100%;
  }
  

  /* Navigation */
 nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: beige;
    /* padding: 20px 0; */
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 10;
}

nav a {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
}

a {
    color: white;  
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
  
nav a:hover::before {
    width: 100%;
}

/* nav 'working' links */

main {
    padding-top: 150px;
}

main > * {
    display: none;
    
}
  
main > *:last-child {
    display: block;
}
  
  @keyframes pulse {
    0% { transform: scale(1) }
    50% { transform: scale(1.05) }
    100% { transform: scale(1) }
}
  
main > *:target {
    display: block;
    animation: pulse 0.5s linear 1;
}
  
main > *:target ~ * {
    display: none;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }  

#loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #97998d;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.hidden {
    display: none;
}

/* rendered HTML art items styling */
ul {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    grid-auto-rows: 10em;
    /* height: 10em; */
    padding: 3em;
    
}

li {
    list-style: none;
    /* width: calc(90%/2);  */
    /* border-radius: 0px 0px 25px 25px ; */
    /* max-width:30em; */
    width: 100%;
    height: auto;
    display: block;
    position:relative;
    overflow:hidden;
    transform: scale(1);
	transform: scale(1);
	transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    padding: 1em;
}

li img {
    width:100%;
	height:auto;
	display:block;
    justify-content: center;

    /* transform: scale(1);
	transform: scale(1);
	transition: .3s ease-in-out;
	transition: .3s ease-in-out; */
}

li section {
    position:absolute;
	left:0;
	bottom:-100%;
	padding:20px;
	background:rgba(0,0,0,.5);
	color:#fff;
	display:block;
	opacity:0;
	/* viewport:hidden; */
	transition:all .3s ease; 
    width: 100%;
}

h1 {
    font-size: 30px;
}

li h2 {
    margin-bottom:5px;
	text-transform:uppercase;
    width: .8vw;
	font-size: calc(.5vw + .5vh + .5vmin);
}

/* section p{
    font-size:1.2rem
   } */

li:hover section{
   opacity:1;
   bottom:0;
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
   transform: scale(.9);
	transform: scale(.9);
    transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

